<!DOCTYPE html>
<html>
    <head>
        <title>About Me!</title>
    </head>
    <body>
        <h5>My Hobbies</h5>
        <ol>
            <li>Play Soccer</li>
            <li>Detailing my car</li>
            <li>Creating Dynamic Websites</li>
        </ol>
        <p>Currently attending at Flatiron School</p>
    </body>
</html>