<!DOCTYPE html>
<html>
    <head>
        <title>This page is for GELLY :)</title>
    </head>
    <body>
        <h1>This is my 3rd file link to this 'Views' folder :)) hapy happy</h1>
        <p>A little something about my little tiny friend gelly she is also learning how to code but in<br>App Academy and she just passed her recent assignment. I am so happy for her!!</p>
    </body>
</html>